<style>
  #tabela1 {
    border: 0px;
    margin: 0px auto;
    width: 500px;
    height: 100px;
    position: relative
  }

  #tabela2 {
    border: 0px;
    margin: 0px auto;
    width: 500px;
    height: 100px;
    position: static
  }
</style>
<ngx-spinner></ngx-spinner>
<section class="content">
  <button (click)="reportAcompanhamento()" class="btn btn-success" id="printReport"><i class="fa fa-print"></i></button>
  <div id="content">
    <div class="box box-editar">
      <h1>Detalhes do acompanhamento</h1>

      <div>
        <div class="box box-default box-solid">
          <div class="box-header with-border">


            <h3 class="box-title">Informações do acompanhamento</h3>

            <div class="box-tools pull-right">
              <a type="submit" class="btn btn-warning botao" data-toggle="modal"
                data-target="#modalResidente">Editar</a>
            </div>

          </div>


          <div class="box-body" style>
            <div>
              <strong>Atividade realizada: </strong> {{acompanhamento1.ATIVIDADE}}
              <strong style="margin-left: 30px"> Data: </strong> {{acompanhamento1.DATA_ACOMPANHAMENTO | date:'dd/MM/yyyy'}}
            </div> <br>

            <table class="table table-hover" id="tabela1" style="float:left; margin-top: 10px">
              <tr>
                <th>Funcionarios Participantes:</th>
              </tr>
              <tr *ngFor="let acompanhamento_funcionario of funcionarios1">
                <td> {{acompanhamento_funcionario?.FNOME}}</td>
              </tr>
            </table>

            <table class="table table-hover" id="tabela2" style="float:left; margin-top: 10px">
              <tr>
                <th>Residentes Participantes:</th>
              </tr>
              <tr *ngFor="let acompanhamento_residente of residentes1">
                <td> {{acompanhamento_residente?.NOME}}</td>
              </tr>
            </table>

        </div>

          <div class="botao">
            <a type="submit" class="btn btn-default botao" [routerLink]="['/residentes']">Voltar</a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
</section>